<%- include("../views/partials/header.ejs") %>
<main>
  <div class="container my-5">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">My Work</h1>
      </div>
      <div class="card-body h-50">
        <% if (orgTasks.length === 0) { %>
          <p class="text-center">No tasks have been assigned in your organization.</p>
        <% } else { %>
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Assigned By</th>
                      <th scope="col">Assigned To</th>
                      <th scope="col">Task</th>
                      <th scope="col">Status</th>
                      <th scope="col">Due Date</th>
                      <th scope="col">Priority</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orgTasks.forEach(task => { const date = task.due_date.toISOString().slice(0,10)%>
                      <tr>
                        <td><%= task.created_by %></td>
                        <td><%= task.created_for %></td>
                        <td><%= task.title %></td>
                        <td><%= task.status %></td>
                        <td><%= date %></td>
                        <td><%= task.priority %></td>
                      </tr>
                    <% }) %>
                  </tbody>
                </table>
        <% } %>
      </div>
    </div>
  </div>
</main>
<%- include("../views/partials/footer.ejs") %>