<%- include("../views/partials/header.ejs") %>

<main class="d-flex flex-row mt-3">
  <div class="container">
    <h2>Dashboard</h2>
    <div class="row row-cols-4">
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">All Tasks</div>
          <div class="card-body">
            <p class="card-text"><%= total %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">Incomplete</div>
          <div class="card-body">
            <p class="card-text"><%= counts[0].incomplete_count %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">Stuck</div>
          <div class="card-body">
            <p class="card-text"><%= counts[0].stuck_count %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">Complete</div>
          <div class="card-body">
            <p class="card-text"><%= counts[0].completed_count %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Overview:</div>
          <div class="card-body">
            <p id="overview" class="card-text">
              charts and graphs depicting the overall work based on the users
              group
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Assigned Tasks:</div>
          <div class="card-body">
            <ul class="card-text">
              <% if(userTasks.length > 0) { userTasks.forEach(task => { %>
                <li><%=task.first_name%> - "<%= task.title %>"</li>
              <% }) } else { %>
                <p class="text-center text-muted m-0">No assigned tasks</p>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Help a Teammate:</div>
          <div class="card-body">
            <ul class="card-text">
              <% if(stuckTasks.length > 0) { stuckTasks.forEach(task => { %> 
                <li><%= task.title %> - <%= task.first_name %></li>
              <% }) } else { %>
                <p class="text-center text-muted m-0">No Stuck tasks</p>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("../views/partials/footer.ejs") %>
