<%- include("../views/partials/header.ejs") %>

<main class="d-flex flex-row mt-3">
  <div class="container">
    <h2>Dashboard</h2>
    <div class="row row-cols-4">
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">All Tasks</div>
          <div class="card-body">
            <p class="card-text"><%= total %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">Incomplete</div>
          <div class="card-body">
            <p class="card-text"><%= counts.incomplete_count %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">Stuck</div>
          <div class="card-body">
            <p class="card-text"><%= counts.stuck_count %></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3 top-card">
          <div class="card-header">Completed</div>
          <div class="card-body">
            <p class="card-text"><%= counts.completed_count %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Overview:</div>
          <div class="card-body">
            <div class="container text-center">
              <div class="row border-bottom">
                <h4 class="col"> <%= currentProfile.org_name %> </h4>
                <h4 class="col"><%= currentProfile.department %></h4>
              </div>
              <div class="row my-5">
                <div style="width: 400px; height: 400px; margin: 0 auto;">
                  <canvas id="orgChart"></canvas>
                </div>
                <div style="width: 400px; height: 400px; margin: 0 auto;">
                  <canvas id="depChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Assigned Tasks:</div>
          <div class="card-body">
            <ul class="card-text">
              <% if(userTasks.length > 0) { userTasks.forEach(task => { %>
                <li><%=task.first_name%> - "<%= task.title %>"</li>
              <% }) } else { %>
                <p class="text-center text-muted m-0">No assigned tasks</p>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Help a Teammate:</div>
          <div class="card-body">
            <ul class="card-text">
              <% if(stuckTasks.length > 0) { stuckTasks.forEach(task => { %> 
                <li><%= task.title %> - <%= task.first_name %></li>
              <% }) } else { %>
                <p class="text-center text-muted m-0">No Stuck tasks</p>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const org = document.getElementById('orgChart');
  new Chart(org, {
    type: 'doughnut',
    data: <%- JSON.stringify(orgData) %>,
    options: {
      responsive: true,
      plugins: { legend: { position: 'bottom' } }
    }
  });

  const ctx = document.getElementById('depChart').getContext('2d');

new Chart(ctx, {
  type: 'bar',
  data: <%- JSON.stringify(depData) %>,
  options: {
    indexAxis: 'y',
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: { position: 'bottom' }
    },
    scales: {
      x: { stacked: true, beginAtZero: true },
      y: { stacked: true }
    }
  }
});
</script>

<%- include("../views/partials/footer.ejs") %>
